<% provide :title, t("admin.question.create") %>
<h1><%= t "admin.question.create" %></h1>

<div class="row" >
  <div class="panel panel-primary" >
    <div class="panel-heading"><h2><%= t "admin.question.h2" %></h2></div>
    <div class="panel-body" >
      <%= render "form" %>
    </div>
  </div>
</div>
