<header class="navbar navbar-fixed-top" >
  <div class="container" >
    <nav>
      <ul class="nav navbar-nav navbar-right" >
        <li><%= link_to t("layouts.header.home") ,root_path %></li>
        <li><%= link_to t("layouts.header.signup"),"#" %></li>
        <li><%= link_to t("layouts.header.signin"),"#" %></li>
      </ul>
    </nav>
  </div>
</header>
